@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 
font-family: 'Sanchez', serif;
font-family: 'Spartan', sans-serif; */

// Thin 100
// Almost before we knew it, we had left the ground.
// Extra-light 200
// Almost before we knew it, we had left the ground.
// Light 300
// Almost before we knew it, we had left the ground.
// Regular 400
// Almost before we knew it, we had left the ground.
// Medium 500
// Almost before we knew it, we had left the ground.
// Semi-bold 600
// Almost before we knew it, we had left the ground.
// Bold 700
// Almost before we knew it, we had left the ground.
// Extra-bold 800
// Almost before we knew it, we had left the ground.
// Black 900
// Almost before we knew it, we had left the ground.


@font-face {
    font-family: 'Stardom-Regular';
    src: url('../fonts/Stardom/Stardom-Regular.woff2') format('woff2'),
         url('../fonts/Stardom/Stardom-Regular.woff') format('woff'),
         url('../fonts/Stardom/Stardom-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

$primary-font: 'Spartan', sans-serif;
$secondary-font: 'Sanchez', serif;

h1{

}

a{
    font-family: $secondary-font;
}