@import './fonts';
@import './theme';

body {
    height: 200vh;

    /* background-image: url(../img/alisaie.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
}

#landing {
    height: calc(100vh - 2rem);
    width: 100%;
    
    display: flex;
    flex-direction: column;
    transition: .5s;
    background-color: $primary_color;
}

* {
    transition: .3s;
}

#greeting,
#interests {
    height: 100%;
}

#greeting,
#web,
#tech_art {
    color: $secondary_color;
    padding: .5em 1em;
    position: relative;

    box-sizing: border-box;
    border: 1px $secondary_color solid;
    border-top: 0;
}

#greeting>*,
#web>*,
#tech_art>* {
    padding: .5em 1em;
    transition: .3s;
}

#greeting {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#interests {
    width: 100%;
}

#web {
    height: 50%;
    transition: .3s;
    font-family: $primary-font;

    cursor: pointer;
}

#tech_art {
    height: 50%;
    font-family: $primary-font;

    cursor: pointer;
}

#greeting::after,
#greeting::before,
#web::after,
#web::before,
#tech_art::after,
#tech_art::before {
    content: "";
    display: block;

    width: 2px;

    position: absolute;
    top: 0;
    bottom: 0;
    border: solid 2px $secondary_color;
    border-left: 0;
    border-right: 0;

    margin: 1em 0;
}

#greeting::before,
#web::before,
#tech_art::before {
    left: 1em;
}

#greeting::after,
#web::after,
#tech_art::after {
    right: 1em;
}

#landing h1 {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 4em;
    line-height: 98%;
    letter-spacing: .04em;
}

#landing h2 {
    font-family: $primary-font;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 98%;
    letter-spacing: .1em;
}

#landing h3 {
    font-family: $secondary-font;
    font-weight: normal;

    font-size: 1.5em;
}

@media screen and (min-width: $desktop_bp) {
    #landing {
        flex-direction: row;
        width: calc(100vw - 4.5rem);
    }

    #greeting {
        width: 40vw;
    }



}