@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* 
font-family: 'Sanchez', serif;
font-family: 'Spartan', sans-serif; */
@font-face {
  font-family: "Stardom-Regular";
  src: url("../fonts/Stardom/Stardom-Regular.woff2") format("woff2"), url("../fonts/Stardom/Stardom-Regular.woff") format("woff"), url("../fonts/Stardom/Stardom-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
a {
  font-family: "Sanchez", serif;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

#header_container {
  width: 100%;
  z-index: 200;
}
#header_container #header {
  background-color: white;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header_container #header img {
  height: 1rem;
}
#header_container #header .closed::before {
  transform: rotate(45deg) !important;
}
#header_container #header .closed::after {
  transform: rotate(-45deg) !important;
}
#header_container #header #burger_menu {
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#header_container #header #burger_menu::before {
  content: "";
  display: block;
  background-color: black;
  height: 2px;
  width: 32px;
  transform: translateY(-4px);
  transition: 0.3s;
}
#header_container #header #burger_menu::after {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  height: 2px;
  width: 32px;
  transform: translateY(4px);
  transition: 0.3s;
}
#header_container .hidden {
  transform: translate(-100%);
}
#header_container .menu-primary-menu-container {
  z-index: 200;
  background-color: white;
  position: absolute;
  height: 100%;
  width: 80%;
  transition: 0.3s;
}
@media (max-width: 300px) {
  #header_container .menu-primary-menu-container {
    width: 100%;
  }
}
#header_container .menu-primary-menu-container ul {
  margin: 2rem;
  padding: 0;
}
#header_container .menu-primary-menu-container ul .active a {
  background-color: black;
  color: white;
}
#header_container .menu-primary-menu-container ul li {
  list-style: none;
  margin-bottom: 2rem;
}
#header_container .menu-primary-menu-container ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

@media (min-width: 1050px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  #header_container {
    background-color: white;
    height: calc(100vh - 2em);
    width: unset;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-inline: 0;
    box-sizing: border-box;
  }
  #header_container #header {
    margin: 1rem 1.25rem;
    padding: unset;
  }
  #header_container #header img {
    image-orientation: 90deg;
    height: unset;
    width: 1rem;
  }
  #header_container #header #burger_menu {
    display: none;
  }
  #header_container .hidden {
    transform: unset;
  }
  #header_container .menu-primary-menu-container {
    position: relative;
    width: unset;
    height: 70%;
  }
  #header_container .menu-primary-menu-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  #header_container .menu-primary-menu-container ul li {
    list-style: none;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
            text-orientation: mixed;
    margin: unset;
  }
  #header_container .deco {
    width: 100%;
    height: 22px;
    background-color: black;
  }
  #header_container .deco::before {
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    margin-top: 3px;
  }
  #header_container .deco::after {
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    margin-top: 3px;
  }
}
.recent_work {
  background-color: black;
  color: white;
}

.recent_work > h2 {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 2em;
  padding: 1rem;
}

.rw_container {
  display: flex;
  flex-direction: row;
  padding: 2em;
  overflow-x: scroll;
  border: 1px solid white;
  border-right: 0;
  border-left: 0;
  gap: 3em;
  position: relative;
}

.rw_card {
  min-width: 285px;
  max-width: 300px;
}

.rw_description {
  width: 100%;
  margin-top: 0.75em;
}

.rw_img {
  height: 320px;
  background-size: cover;
}

.rw_description h2 {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.rw_description h4,
.rw_description h3 {
  font-family: "Sanchez", serif;
  font-weight: normal;
}

/* .rw_container::-webkit-scrollbar {
    width: 6em;   
}

.rw_container::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    margin: 1em;
    border: 7px rgb(0, 0, 0) solid;
    border-radius: 5px;
}

.rw_container::-webkit-scrollbar-thumb {
    background-color: rgb(149, 149, 149);
    border-radius: 5px;
    border: 7px $primary_color solid;
    border-inline: 0;

}

.rw_container::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
} */
.rw_container::-webkit-scrollbar {
  height: 66px;
  border-top: 1px white solid;
  background-clip: content-box;
}

.rw_container::-webkit-scrollbar-track {
  background-color: #616161;
  margin: 0.75em;
  border: 32px transparent solid;
  border-inline: 0;
  background-clip: padding-box;
}

.rw_container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 32px transparent solid;
  border-inline: 0;
  background-clip: padding-box;
}

.portfolio_link {
  background-color: black;
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
  padding: 2rem 1rem;
  border-bottom: 1px white solid;
  transition: 0.3s;
}

.portfolio_link h3 {
  color: white;
  font-size: 1.5em;
  font-family: "Spartan", sans-serif;
  font-weight: 300;
}

.portfolio_link:hover {
  background-color: #2f2f2f;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap: 2rem;
  background-color: black;
  color: white;
}

.footer > img {
  height: 2rem;
  filter: invert(1);
}

.footer h3 {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  /* font-size: 1.5em; */
}

.footer h4 {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  text-align: center;
}

.footer a {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (min-width: 840px) {
  .recent_work > h2 {
    font-size: 2em;
    padding: 1em 2em;
  }

  .rw_container {
    padding: 2rem 3rem;
  }

  .portfolio_link {
    padding-inline: 3em;
  }

  .portfolio_link h3 {
    font-size: 6rem;
  }

  .portfolio_link img {
    height: 6em;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 5em 4em;
  }
}
body, html {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */