@import "./header";
@import "./footer";

body, html{
    background-color: $secondary_color;

    box-sizing: border-box;

    margin: 0;
    padding: 0;
    overflow: visible;
}

*{
    box-sizing: border-box;
}